<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="../css/base.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.head { height:75px; background-color:#58687a;}
.head_title{ font-size:18px; font-weight:bold; color:#FFF; line-height:75px; padding-left:15px;}
.head_meta{ float:right; line-height:36px; padding-right:10px; color:#FFF;}
.head_meta a{ color:#FFF;}
.head_meta a:hover{ color:#ccc;}
</style>
</head>

<body>
<div class="head">
	<div class="head_meta"><span>系统管理员</span>，欢迎您！ 上次登录：<span>2013-07-11  09:32</span> <a href="#">[修改密码]</a> <a href="#">[退出]</a></div>
	<h1 class="head_title">淘宝店铺管理系统</h1>
</div>
</body>
</html>
