<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
html{color:#555;background:#fff;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
html,body{height:100%;margin:0; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
#line{ border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; width:4px; background-color:#eee; cursor:col-resize; height:100%;}
</style>
</head>

<body>
<div id="line"></div>
</body>
</html>